/* #region reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* #endregion */

/* #region global */
:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --grey-blue: hsl(246, 25%, 77%);
  --shadow-grey: hsla(0, 0%, 0%, 0.15);
  --font-size: 16px;
  --font-family: "Poppins", sans-serif;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: var(--font-size);
  font-family: var(--font-family);
  font-weight: var(--font-weight-400);
  color: white;
}
/* #endregion */

/* #region index */
html,
body,
main {
  width: 100vw;
  height: 100vh;
}
.overlay {
  top: 0;
  background: var(--red);
  opacity: 0.7;
}
.background {
  background: url(../images/bg-intro-mobile.png);
}
.overlay,
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.grid {
  margin: auto;
  max-width: 375px;
  display: grid;
  place-items: center;
  margin-bottom: 3rem;
}
.section1 {
  padding: 1.8rem;
}
.section1 {
  text-align: center;
}
.section1 h1 {
  font-size: 1.5rem;
  font-weight: var(--font-weight-700);
  margin-bottom: 1rem;
}
.section1 p {
  font-weight: var(--font-weight-500);
  margin-bottom: 3rem;
}
.button-offer {
  outline: none;
  border: none;
  background: var(--blue);
  color: white;
  line-height: 1.4rem;
  padding: 1rem 4rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 8px var(--shadow-grey);
  cursor: pointer;
}
.button-offer:hover {
  background: hsl(248, 32%, 60%);
}
.bold-text {
  font-weight: var(--font-weight-700);
}
.section2 {
  width: 100%;
  padding: 0 1.8rem;
}
.signup-form {
  background: white;
  border-radius: 10px;
  display: grid;
  gap: 0rem;
  padding: 2rem;
  box-shadow: 0 8px var(--shadow-grey);
}
.form-input {
  color: var(--dark-blue);
  font-weight: var(--font-weight-600);
  font-size: 1rem;
  border: none;
  padding: 1rem;
  outline: 1px solid rgba(62, 60, 73, 0.239);
  border-radius: 5px;
  margin-bottom: 1rem;
}
.form-button {
  background: var(--green);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1rem;
  font-weight: var(--font-weight-600);
  letter-spacing: 0.1rem;
  box-shadow: 0 4px hsl(154, 54%, 46%);
  margin-bottom: 1rem;
}
.form-input-container {
  position: relative;
  width: 100%;
}
.form-button:hover {
  background: hsl(154, 54%, 60%);
}
.form-terms {
  padding: 0 1rem;
  font-size: 0.8rem;
  text-align: center;
  color: var(--grey-blue);
}
.red-text {
  color: var(--red);
}
/* #endregion */

/* #region no error */
.form-input-container .error-icon,
.form-input-container .error-text {
  display: none;
}
/* #endregion */
/* #region error */
.form-input-container.error .error-icon,
.form-input-container.error .error-text {
  display: block;
}
.error-icon {
  position: absolute;
  top: 13.5px;
  right: -15px;
}
.error-outline {
  outline: 1px solid var(--red);
}
.error-text {
  color: var(--red);
  margin-bottom: 1rem;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
/* #endregion */
